.post {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 8px;
    margin-top: 10px;
}

.post-info {
    display: flex;
    align-items: center;

}

.post-info>h5 {
    margin: 10px;
    cursor: pointer;
    font-size: 12px;
}

.post-info>h5:hover {
    text-decoration: underline;
}

.post-info>small {
    margin: 10px;
}

.post-body {
    display: flex;
    flex-direction: column;
}

.post-body>.post-que {
    margin-top: 10px;
    font-weight: bold;
    margin-bottom: 10px;
    cursor: pointer;
    display: flex;
}

.post-body>.post-que>p {
    margin: 0;
}

.post-body>.post-que>p:hover {
    text-decoration: underline;
}

.post-que>.post-que-ans {
    margin-left: auto;
    outline: none;
    border: none;
    color: white;
    background-color: blue;
    border-radius: 20px;
    padding: 5px 10px;
    cursor: pointer;
}

.post-body>img {
    object-fit: contain;
    width: 100%;
    cursor: pointer;
}

.post-footer {
    display: flex;
    align-items: center;
    margin-top: 10px;
    color: gray;

}

.post-footer-left {
    display: flex;
    background-color: whitesmoke;
    border: 1px solid lightgray;
    border-radius: 30px;
    font-size: 14px;
}

.post-footer-left > .MuiSvgIcon-root {
    font-size: 10px;
}

.post-footer-left-1 {
    display: flex;
    align-items: center;
    border-right: 1px solid lightgray;
    padding: 0 5px;

}

.post-footer-left-2 {
    padding: 0 10px;

}

.post-footer-middle {
    display: flex;
    margin: 0 10px;
    gap: 10px;
}

.post-footer-right {
    margin-left: auto;
}

.post-footer-right:hover {
    color: gray;
    cursor: pointer;
    /* margin-left: 30px; */
}