.sidebar-options{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.sidebar-option{
    display: flex;
    align-items: center;
    padding: 8px;
    cursor: pointer;
}

.sidebar-option:hover{
    background-color: lightgray;
    border-radius: 5px;
}

.sidebar-create-space-btn {
  background: none;
  border: none;
  color: gray;
  font-weight: 400;
  margin-left: 10px;
  cursor: pointer;
  font-size: 1rem;
  padding: 0;
  padding: 5px 0;
}

.sidebar-option > img{
    height: 30px !important;
    width: 45px !important;
    border-radius: 5px;
}

.sidebar-option > p{
    color: gray;
    font-weight: 400;
    margin-left: 10px;
}

.sidebar-option > .MuiSvgIcon-root {
    color: gray;
    font-size: medium;
}