.sidebar {
    flex: 0.1;
}

.sidebar_bottom {
  display: flex;
  flex-wrap: wrap;
}

.sidebar_bottom > a{
    margin-right: 5px;
    color: gray;
    font-size: 12px;
    cursor: pointer;
    text-decoration: none;
}

.sidebar_bottom >a:hover{
    text-decoration: underline;
}

.sidebar_bottom>a:not(:first-child)::before {
  content: " · ";
  color: gray;
}


@media (max-width: 768px){
    .sidebar{
        display: none;
    }
}

@media (max-width: 1024px){
    .sidebar{
        flex: 0.05;
    }
}