.widget__contents {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  height: auto;
}

.widget__content {
  margin: 5px;
  display: flex;
  padding: 5px;
  border-bottom: 1px solid lightgray;
}

.widget__content>img {
  height: 35px !important;
  width: 45px !important;
  border-radius: 5px;
}

.widget__contentTitle {
  margin-left: 10px;
}

.widget__contentTitle>h5 {
  margin: 0;
  color: rgb(70, 68, 68);
}

.widget__contentTitle>p {
  color: gray;
  font-size: small;
  margin: 0;
}

.widgets__view__more__btn {
  background-color: transparent;
  border: none;
  padding-top: 10px;
}

.widgets__view__more {
  text-decoration: none;
  font-size: 16px;
  color: gray;
}